* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

:root {
    --color_black_button: #111111;
    --color_font-white: #f3f3f3;
    --color_form-white: #f6f6f6;
    --font_primary: 'Doppio One';
  }

body {
  height: 100vh;
  background-image: url(Images/abstract-blue-night-space-cosmos-background-with-nebula-and-shining-star-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: var(--font_primary);
}

header h1 {
    font-size: 10vh;
    color: white;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-weight: 400;
}

header {
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey_container {
    width: 90%;
    height: auto;
    grid-column: 1 / 2;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 40px;
}


#survey_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#survey_title h2 {
    font-family: 'Doppio One', sans-serif;
    font-size: 3vh;
    color: black;
    padding: 40px 0px;
    text-align: center;
}

#survey_field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    font-family: 'Doppio One', sans-serif;
    text-transform: uppercase;
    width: 90%;
    font-size: 1.6vh;
    color: #5F5F5F;
    padding: 20px 0px;
    border: 2px black solid !important;
    border-radius: 35px;
}

.survey_button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#userName,
#userBirthday {
    padding-left: 10%;
    outline: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  padding: 20px 100px 20px 100px;
  background-color: var(--color_black_button);
  color: var(--color_font-white);
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  width: 80%;
  height: auto;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  font-size: 40px;
  background-color: var(--color_form-white);
}

.mood-select {
  margin-bottom: 30px;
}
.mood-select p {
    font-size: 1.8vh;
  margin-bottom: 14px;
  text-align: center;
}

label {
    font-size: 1.3vh;
}

.mood-option {
    text-align: left;
}

.mood-option:hover {
  cursor: pointer;
  transition: scale 1s cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='radio'] {
    width: 20px;
  margin-right: 5px;
}

.mood-option-icon {
  display: inline-block;
}

.mood-option-icon {
  animation: pulse 1700ms ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.mood-option:not(:last-child) {
  margin-bottom: 14px;
}

.btn-form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 0px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.wrapper {
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 60px;
}

.wrapper-right {
    display: grid;
    grid-column: 2 / 3;
    justify-content: center;
}

.wrapper-left {
    grid-column: 1 / 2;
    display: grid;
    justify-content: center;
}

.fortune {
    grid-column: 2 / 2;
    grid-row: 1/2;
    width:300px;
    height:325px;
    margin: 0 auto;
}

#horoscope {
    display : none;
    grid-column: 2 / 2;
    grid-row: 2/2;
    color:white;
    font-family: 'Eagle Lake';
    font-size: 40px;
    margin-top: 20px;
}

.message {
    display : flex;
    justify-content: center;
    width: 500px;
    height : 300px;
    grid-column: 2 / 2;
    grid-row: 2/2;
    margin-top: 100px;
    background-color: grey;
    opacity: 0.75;
    font-family: 'Eagle Lake';
    font-size: 40px;
}

.message p {
  text-align: center;
}

footer h3 {
    font-weight: 400;
    font-size: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-weight: 400;
}
