* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(Images/abstract-blue-night-space-cosmos-background-with-nebula-and-shining-star-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: var(--font_primary);
}



header h1 {
    font-size: 12vh;
}

header {
    height: 100px;
    border: 2px solid red;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey_container {
    width: 50%;
    height: auto;
    background-color: white;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 20px;
}

#survey_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#survey_title h2 {
    font-family: 'Doppio One', sans-serif;
    font-size: 3vh;
    color: black;
    padding: 40px 0px;
    text-align: center;
}

#survey_field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    font-family: 'Doppio One', sans-serif;
    text-transform: uppercase;
    width: 90%;
    font-size: 1.6vh;
    color: #5F5F5F;
    padding: 20px 0px;
    border: 2px black solid !important;
    border-radius: 35px;
}

.survey_button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#userName,
#userBirthday {
    padding-left: 10%;
    outline: none;
}

:root {
  --color_black_button: #111111;
  --color_font-white: #f3f3f3;
  --color_form-white: #f6f6f6;
  --font_primary: 'Doppio One';
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  padding: 20px 100px 20px 100px;
  background-color: var(--color_black_button);
  color: var(--color_font-white);
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  width: 580px;
  height: auto;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  font-size: 40px;
  background-color: var(--color_form-white);
}

.mood-select {
  margin-bottom: 30px;
}
.mood-select p {
  margin-bottom: 14px;
  text-align: center;
}

.mood-option:hover {
  cursor: pointer;
  transition: scale 1s cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='radio'] {
  margin-right: 5px;
}

.mood-option-icon {
  display: inline-block;
}

.mood-option-icon {
  animation: pulse 1700ms ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.mood-option:not(:last-child) {
  margin-bottom: 14px;
}

.btn-form-submit {
  display: block;
  border: 0px;
  margin: 0 auto;
  margin-bottom: 15px;
}

footer h3 {
    font-weight: 400;
    font-size: 20px;
};